<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">
        <h3>Todo List</h3>
        <div>
            <input type="text" v-model="todo">
            <input type="submit" value="Add" @click="store">
        </div>
        <ol>
            <li v-for="(todo, index) in tasks">
                {{todo}}
                <!-- <button @click="edit(index, todo)">Edit</button> -->
                <button @click="remove(index)" class="del">Delete</button>
            </li>
        </ol>
    </div>
    <script src="https://unpkg.com/vue@3" type="text/javascript"></script>
    <script src="todo.js"></script>
</body>
</html>